.breadcrumbs{
  font-size: 14px;
  height: 40px;
  width: 100vw;
  padding: 0 17vw;
  background-color: #fff;
  line-height: 40px;
  text-align: left;
  a{
    text-decoration: none;
    color: black;
  }
  a:hover{
    text-decoration: underline;
    color: gray;
  }
  .current{
    font-weight: bold;
  }
}