.Flex {
  display: flex;
}

.Base{
  background-color: #f5f5f5;
}

.Center {
  justify-content: center;
}

.Container{
  height: 100%;
}

.Header {
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 49px;
  width: 185px;
}

.Main {
  width: 700px;
}

.purchase-box {
  width: 375px;
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 98px;
    font-weight: bold;
    font-size: 24px;
  }
  &__item-flame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 145px;
    border-top: 1px solid #f5f5f5;
  }
}

.detail {
  display: flex;
  justify-content: space-between;
  margin: 24px 16px;
  &__image {
    margin-right: 16px;
  }
}

.item-image {
  border-radius: 4px;
  height: 80px;
  width: 80px;
} 

.total-cost {
  float: right;
  margin-top: 8px;
  display: flex;
  &__yen {
    font-weight: bold;
  }
  &__sum {
    font-weight: bold;
  }
}

.payment-area {
  border-top: 1px solid #f5f5f5;
  padding: 0 16px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__total-cost {
    display: flex;
    font-weight: bold;
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
  }
}

.credit-card {
  border-top: 1px solid #f5f5f5;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  min-height: 140px;
  height: auto !important;
  &__registration {
    display: flex;
    justify-content: space-between;
  }
}

.card-logo {
  margin-top: 8px;
  height: 32px;
  width: 48px;
}

.current-address {
  border-top: 1px solid #f5f5f5;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
  min-height: 140px;
  height: auto !important;
  &__registration {
    display: flex;
    justify-content: space-between;
  }
}

a {
  text-decoration: none;
}

h5, h6 {
  font-weight: 600;
  margin-bottom: 10px;
}

.decision-area {
  border-top: 1px solid #f5f5f5;
  padding: 0 16px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    background-color: #ccc;
    color: #888;
    transition: .2s;
  }
}

.decision-area__btn:hover {
  background: #3ccace;
  color: #fff;
}


.Footer{
  height: 160px;
  padding: 40px 0;
  text-align: center;
}
