.Card-Container{
  height: 100vh;
}

.Card-main{
  height: 600px;
  width: 700px;
  background-color: white;
}

.Input-box__card-image{
  display: flex;
}

.card-logo{
  height: 30px;
  margin: 5px 5px 5px;
  width: auto;
}

.Input-box__input-form--efective-date{
  display: flex;
  line-height: 50px;
  justify-content: space-between;
  margin-top: 8px;
}

.Input-box__input-form--pulldown{
 width: 120px;
 height: 50px;
}