.main{
  height: 2142px;
  background-color: #eeeeee;
  box-sizing: border-box;
  .showMain{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    .topContent{
      width: 700px;
      height: 1676px;
      margin: 0 300px;
      .itemBox{
        height: 1330px;
        padding: 24px 40px 40px 40px;
        background-color: #ffffff;
        &__name{
          height: 28px;
          text-align: center;
          font-weight: bold;
          font-size: 24px;
          margin: 0;
        }
        &__body{
          margin: 16px 0 0 0;
          height: 443px;
          z-index: 10;
          .list{
            list-style: none;
            height: 443px;
            width: 620px;
            padding: 0;
            margin: 0 30px;
            li{
              list-style: none;
              // display: block;
              // overflow: hidden;
              position: relative;
              z-index: auto;
              .img_1{
                height: 346px;
                width: 560px;
                z-index: auto;
                // position: relative;
                // position: absolute;
                // display: block;
                // overflow: hidden;
              }
              .list2{
                height: 87px;
                margin-top: 10px;
                display: flex;
                justify-content: center;
                list-style: none;
                .li-2{
                  height: 87px;
                  width: 140px;
                  margin-left: 10px;
                  .img_2{
                    height: 100px;
                    width: 140px;
                  }
                }
              }
            }
          }
        }
        .itemBox__price{
          height: 77px;
          width: 620px;
          text-align: center;
          display: flex;
          flex-direction: column;
          font-size: 46px;
          font-weight: bold;
          margin: 24px 0;
          .itemBox__price_detail{
            font-size: 16px;
            text-align: center;
            height: 24px;
            font-weight: normal;
          }
        }
        .itemDetail{
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
          height: 162px;
          width: 620px;
        }
        .table{
          height: 400px;
          width: 620px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tbody{
              height: 619px;
              width: 430px;
              display: table-row-group;
              vertical-align: middle;
              border-color: inherit;
              tr{
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
                th{
                  width: 20%;
                  background-color: #eeeeee;
                  font-weight: 400;
                  padding: 8px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  text-align: center;
                }
                td{
                  width: 61%;
                  padding: 15px;
                  border: 1px solid #dedede;
                  font-size: 14px;
                  display: table-cell;
                  vertical-align: inherit;
                  .table_link{
                    color: #3CCACE;
                  }
                }
              }
            }
          }

        }
        .optionalArea{
          height: 48px;
          width: 620px;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          box-sizing: border-box;
          margin-top: 30px;
          ul{
            list-style: none;
            display: flex;
            margin: 10px 0 0;
            box-sizing: border-box;
            .likeBtn{
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
              box-sizing: border-box;
            }
          }
          .optional{
            margin: 10px 0 0;
            display: flex;
            list-style: none;
            font-size: 14px;
            box-sizing: border-box;
            .optionalBtn{
              display: list-item;
              a{
                padding: 6px 10px;
                display: inline-block;
                border-radius: 4px;
                color: #333333;
                border: 1px solid #333333;
                text-decoration: none;
              }
            }
          }
        }
      }
      .commentBox{
        height: 300px;
        width: 700px;
        padding: 24px;
        background-color: #ffffff;
        margin: 10px 0;
        .new_comment{
          text-align: center;
          textarea{
            height: 100px;
            width: 650px;
            padding: 10px;
            text-transform: none;
            text-indent: 0px;
            border: 1px solid rgb(118, 118, 118), rgb(195, 195, 195);
          }
          .show_noticeMsg{
            height: 58px;
            padding: 8px;
            font-size: 14px;
            background-color: #f8f8f8;
            margin: 10px 0;
            text-align: left;
          }
          .commentBtn{
            height: 48px;
            width: 377px;
            padding: 1px 6px;
            line-height: 48px;
            background: #3CCACE;
            border: 1px solid #3CCACE;
            color: #ffffff;
            font-size: 18px;
            border-radius: 100px;
            margin-top: 20px;
          }
        }
      }
    }
    .links{
      list-style: none;
      height: 24px;
      width: 700px;
      margin: 0 300px;
      display: flex;
      justify-content: space-between;
      .link{
        color: #3CCACE;
      }
    }
    .relatedItems{
      height: 328px;
      width: 700px;
      margin: 0 300px;
      .relatedItems_bar{
        height: 33px;
        width: 700px;
        margin: 24px 0 8px 0;
        color: #3CCACE;
        font-weight: bold;
        font-size: 22px;
        display: block;

      }
      .productList{
        margin: 0 0 10px;
        float: left;
        width: 235px;
        height: 277px;
        display: block;
        .productList_image{
          height: 150px;
          width: 220px;
          // position: relative;
        }
        .productList_body{
          height: 95px;
          width: 220px;
          padding: 16px;
          color: #333333;
          background-color: #ffffff;
          .name{
            font-size: 16px;
          }
          .details{
            font-size: 10px;
            font-weight: bold;
            ul{
              display: flex;
              justify-content: space-between;
              font-size: 16px;
              list-style: none;
            }
          }
        }
      }
    }
  }
} 

.relatedProduct{
  z-index: auto;
  position: relative;
  display: inline-block;
  width: 200;
}

.sold-items2 {
  position: absolute;
  height: 90px;
  width: 170px;
  z-index: auto;
  background-color: #3ccace;
  font-weight: bold;
  transform: rotate(-45deg);
  margin:-25px 0px 0px -60px;
  display: block;
  overflow: hidden;
  top: 0;
  &__title {
    font-size: 24px;
    margin:55px 0px 0px 0px;
    display: flex;
    justify-content: center;
    color: #fff;
    letter-spacing: 2px;
  }
}

// .sold-items2{
//   width: 0;
//   height: 0;
//   border-top: 60px solid green ;
//   border-right: 60px solid transparent;
//   border-bottom: 60px solid transparent;
//   border-left: 60px solid green ;
//   z-index:100;
//   // position: relative;
//   position: absolute;
//   top: 0;
//   // top: -156px;
//   &__title{
//     transform: rotate(-45deg);
//     font-size: 24px;
//     // margin:-133px 0px 0px -55px;
//     margin: -22px 0px 0px -44px;
//     color: #fff;
//     letter-spacing: 2px;
//     font-weight: bold;
//   }
// }
