* {
  box-sizing: border-box;
}
.signup-btn{
  text-decoration: none;
}
.signin-btn{
  text-decoration: none;
}

// ~~~~~~~~~~~~~~~~~~~商品出品ページ~~~~~~~~~~~~~~~~~~~~~~~~~~~

.Sell-main {
  display: flex;
  justify-content: center;
  width: 700px;
  background-color: white;
}
.camera-icon {
  font-size: 24px;
  margin-bottom: 8px;
  padding: 43px 297px 82px;
  margin-top: 10px;
}

.Hidden {
  display: none;
}

.sell-box {
  width: 700px;
  max-width: 700px;
  &__image-frame {
    border-bottom: 1px solid #cccccc;
    padding: 40px;
    &__title {
      font-weight: 600;
      font-size: 14px;
    }
    &__guide {
      margin-top: 16px;
      font-size: 14px;
    }
  }
  &__upload {
    background-color:#F5F5F5;
    border: 1px dashed #cccccc;
    width: 620px;
    height: 150px;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    &__add-image {
      background-color:#F5F5F5;
      width: 620px;
      height: 150px;
    }
    &__text {
      text-align: center;
      font-size: 12px;
      position: absolute;
      margin-top: 30px;
    }
  }

  &__item {
    border-bottom: 1px solid #cccccc;
    padding: 40px;
    &__name {
      font-weight: 600;
      font-size: 14px;
      margin-top: 16px;
    }
    &__description {
      font-weight: 600;
      font-size: 14px;
      margin-top: 32px;
    }
    &__form {
      margin-top: 16px;
      padding: 0 16px;
      height: 48px;
      width: 620px;
      font-size: 16px;
      font-weight: normal;
    }
    &__description-form {
      resize: vertical;
      font-weight: normal;
      font-size: 16px;
      width: 620px;
      height: 154px;
      margin-top: 16px;
      padding: 13px 16px;
    }
    &__word-counter {
      text-align: right;
      margin-top: 16px;
      font-size: 12px;
    }
  }
  &__detail {
    border-bottom: 1px solid #cccccc;
    padding: 40px;
    &__title {
      font-size: 14px;
      font-weight: 600;
      color: #888888;
    }
    &__category {
      margin-top: 24px;
      font-weight: 600;
      font-size: 14px;
    }
    &__form {
      margin-top: 14px;
      font-weight: normal;
      padding: 0 16px;
      height: 48px;
      width: 620px;
      font-size: 16px;
    }
    &__size {
      margin-top: 24px;
      font-weight: 600;
      font-size: 14px;
    }
    &__brand {
      margin-top: 24px;
      font-weight: 600;
      font-size: 14px;
    }
    &__status {
      margin-top: 24px;
      font-weight: 600;
      font-size: 14px;
    }
  }
  &__freight {
    border-bottom: 1px solid #cccccc;
    padding: 40px;
    &__title {
      font-size: 14px;
      font-weight: 600;
      color: #888888;
    }
    &__charge {
      margin-top: 24px;
      font-weight: 600;
      font-size: 14px;
    }
    &__shipment-source {
      margin-top: 24px;
      font-weight: 600;
      font-size: 14px;
    }
    &__ship-date {
      margin-top: 24px;
      font-weight: 600;
      font-size: 14px;
    }
    &__form {
      margin-top: 14px;
      font-weight: normal;
      font-size: 16px;
      padding: 0 16px;
      height: 48px;
      width: 620px;
    }
  }
  &__price {
    padding: 40px 40px 0;
    &__title {
      color: #888888;
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 24px;
    }
  }
  &__price-area {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
    &__selling-price {
      font-weight: 600;
      font-size: 14px;
    }
    &__price-require {
      background-color: #3CCACE;
      margin-left: 8px;
      font-weight: 600;
      font-size: 12px;
      padding: 2px 4px;
      border-radius: 2px;
      color: #fff;
      width: 32px;
      height: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__yen {
      margin-right: 8px;
      margin-left: auto;
      font-size: 14px;
    }
    &__form {
      width: 285px;
      height: 48px;
      padding: 0 16px;
      text-align: right;
    }
  }
  &__commission {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cccccc;
    padding: 12px 0;
  }
  &__profit {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
  }
  &__actions {
    margin: 0 auto 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__submit-btn{
      width: 360px;
      color: #fff;
      background: #3CCACE;
      height: 50px;
      border: 1px solid #3CCACE;
      border-radius: 4px;
      margin-top: 32px;
    }
  }
  &__require {
    background-color: #3CCACE;
    margin-left: 8px;
    padding: 2px 4px;
    font-size: 12px;
    border-radius: 2px;
    color: #fff;
    width: 32px;
    height: 16px;
    &--any {
    background-color: #BFBFBF;
    color: #fff;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    margin-left: 8px;
    }
  }
}
.warning {
  margin: 0 40px 64px;
  &__text {
    font-size: 12px;
  }
}

// ~~~~~~~~~~~~~~~~~~~商品出品ページ~~~~~~~~~~~~~~~~~~~~~~~~

// ~~~~~~~~~~~~~~~~~~~トップページ~~~~~~~~~~~~~~~~~~~~~~~~~~

.header{
  height: 130px;
  padding-top: 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  &__top{
    line-height: 50px;
    display: flex;
    justify-content: center;
  }
  &__logo{
    margin-right: 40px;
  }
  &__index{
    display: flex;
    .index-form{
      .search-input{
        width: 50vw;
        height: 34px;
        padding-left: 5px;
      }
    }
    .index-btn{
      width: 34px;
      height: 34px;
      margin-top: 9px;
      background-color: #3CCACE;
      position: relative;
      border: none;
    }
    .search-logo{
      height: 20px;
      width: auto;
      position: absolute; top: 7px; left: 7px;
    }
    
  }
  &__menu{
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    &--left,  &--right {
      width: 180px;
      display: flex;
      justify-content: space-between;
    }
    .beef {
      text-decoration: none;
      color: black;
    }
    &--right{
      width: 180px;
      display: flex;
      justify-content: space-between;
    }
    
  }
}
  .main {
    background: #f8f8f8; 
  }
  .viewMain {
    width: 100%;
    height: 560px;
    background-image:image-url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top-center;
    position: relative;
    display: flex;
    align-items: center;
  }
  .maincontent {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 35px 0 0 0;
    &__subtitle {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
      br {
        box-sizing: border-box;
      }
    }
    &__text {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      line-height: 1.7778;
      color: #fff;
      margin: 16px 0 0 0;
    }
      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        justify-content: flex-start;
        align-items: center;
          .appPict {
            height: 60px;
            vertical-align: bottom;
            margin: 0 auto;
          }
        .bMain {
          width: 180px;
        }
          .googlePict {
            height: 85px;
            vertical-align: bottom;
            margin: 0 auto;
          }
      }
  }
  .topReason {
    padding: 60px 20px;
  }
    .subMenu {
      text-align: center;
      font-size: 23px;
      line-height: 1,4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .subMenu::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3ccace;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .contents {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
    }
      .secondContent {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .contentPict {
        position: relative;
        margin-bottom: 20px;
        .number {
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          margin: 0 5px 0 0;
          padding: 10px 20px;
          background-color: #3ccace;
          color: #fff;
        }
        .listingPict {
          width: 100%;
          vertical-align: bottom;
        }
      }
      .contentText {
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span {
          color: #3ccace;
        }
      }
      .contentManner {
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    .thirdMenu {
      background-image:image_url("bg-topMiddleDl-pict.jpg");
      background-position: bottom right;
      height: 400px;
      background-size: cover;
      display: flex;
      align-items: center;
      &__inner {
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        .subManner {
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
      }
        .text {
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5; 
        }
        .btn {
          display: flex;
          margin: 24px 0 0 0;
          justify-content: flex-start;
          align-items: center;
            .appPict {
              height: 60px;
              vertical-align: bottom;
              margin: 0 auto;
            }
          }
          .bMain {
            width: 180px;
            .googlePict {
              height: 85px;
              vertical-align: bottom;
              margin: 0 auto;
            }
          }
          
    }
      
    .furimaFuture {
      padding: 60px 100px;
      background-color: #fff;
    }
    .center {
      font-size: 25px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
    }
    .center::after {
      content: "";
      width: 70px;
      height: 4px;
      background-color: #3ccace;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .menus {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
    }
    .childMenu {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      text-align: center;
      padding: 0 20px;
      .furimaImage {
        width: 70%;
        margin: 0 auto;
        line-height: 120px;
        .men {
          width: 100%;
          vertical-align: bottom;
        }
      }
      &__subtitle {
        margin: 38px 0 10px;
        font-size: 19px;
        font-weight: bold;
      }
      &__detail {
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
      }
        .woman, .card{
          width: 100%;
          vertical-align: bottom;
        }
        
    }
    .picupContents {
      padding: 80px 0 80px 0;
      background-color: #f8f8f8;
      height: 100%;
    }
     .top {
       text-align: center;
       font-size: 27px;
       line-height: 1.4;
       font-weight: bold;
     }
    .newBox {
      margin: 0;
      padding: 0;
    }
    .newTop {
      text-align: center;

      .newPost, .brand {
        font-size: 24px;
        text-decoration: none;
        color: #3ccace;
      }

      .title {
        font-weight: bold;
      }
    }
    .newLists {
     width: 780px;
     margin: 26px auto;
     display: flex;
     justify-content: space-around;
    }
    .newList {
      width: 220px;
      display: inline-block;
      float: left;
      .beef {
        background-color: #fff;
        display: inline-block;
        text-decoration: none;
      }
    }
    .newList--image {
      width: 220px;
      height: 150px;
      position: relative;
      overflow: hidden;
      margin: 0;
      z-index: auto;
      .meat {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: auto;
        height: 150px;
        object-fit: cover;
      }
    }
    .newList--body {
      background-color: white;
      color: #333;
      padding: 16px;
      .name {
        overflow: hidden;
        line-height: 1.5;
        font-size: 16px;
        text-align: left;
      }
      .details {
        font-size: 16px;
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        i::before {
          content: "\f005";
        }
        .priceFurima {
          font-size: 10px;
          text-align: left;
        }
      }
    }
    .footer{
      color: #fff;
      background-color: #272727;
      padding-bottom: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__image{
        width: 100%;
        height: 360px;
        object-fit: cover;
        position: relative;
        text-align: center;
      }
      &__message{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        margin: auto;
        h2{
          font-size: 35px;
          text-shadow: 0 0 5px rgba(0,0,0,0.4);
          margin: 10px 0;
        }
      }
      .AppStore-logo{
        height: auto;
        width: 180px;
        position: absolute;
        top: 195px;
        right: 52vw;
        padding-top: 20px;
      }
      .googleplay-logo{
        height: auto;
        width: 230px;
        position: absolute;
        top: 180px;
        left: 48vw;
        padding-top: 20px;
      }
      &__contents{
        text-align: center;
        padding-top: 60px;
        width: 50vw;
        height: 230px;
        display: flex;
        justify-content: space-around;
        h2 {
          height: 50px;
          font-size: 16px;
          font-weight: bold;
        }
        .content {
          font-size: 12px;
          height: 30px;
          width: 170px;
        }
      }
      &__btn{
        font-size: 12px;
        color: #fff;
        text-decoration: none;
      }
      .footer-logo{
        height: 49px;
        width: auto;
        display: block;
      }
    }
    .putup-btn{
      position: fixed;right: 32px;bottom: 32px;
      width: 120px;
      height: 120px;
      background-color: #3CCACE;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 4%;
      span{
        font-size: 18px;
        margin-bottom: 5px;
        color: #fff;
      }
    }