- if user_signed_in?
  = link_to "#",class: "signin-btn" do
    マイページ
  = link_to destroy_user_session_path, method: :delete, class: "signup-btn" do
    ログアウト
- else
  = link_to new_user_session_path,class: "signin-btn" do
    ログイン
  = link_to new_user_registration_path,class: "signup-btn" do
    新規会員登録
