= link_to new_user_session_path,class: "signin-btn" do
  ログイン
= link_to new_user_registration_path,class: "signup-btn" do
  新規会員登録
= link_to "/users/show",class: "link-btn" do
  マイページ
= link_to transactions_buy_path,class: "link-btn" do
  商品購入確認ページ