.head
.main
  .showMain
    .itemBox
      %h2.itemBox__name
      .itemBox__body
        %ul
          %li
            %ul
              %li    
      .itemBox__price
        %span ￥10000
        .itemBox__price-detail
          %span (税込)
          %span 送料込み
      .itemDetail テストテストテスト
      .table
        %table
          %tbody
            